body {
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif
}
.img1 {
    width: 100%;
    height: 450;
    z-index: 0
}
.head {
    color: firebrick
}
p {
    color: rgb(209, 5, 5);
    font-size: xx-large;
    font-weight: 2000;
    line-height: 150px
}
.a {
    background-color: paleturquoise;

}
.b { 
    background-color: paleturquoise
}
.c {
    background-color: paleturquoise
}
.body {
    background-color: paleturquoise;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    height: 800;
    LINE-HEIGHT:55px;
}
.h {
    color: firebrick;
    font-size: 100px
}
.subheader {
    color: darkblue
}
.button {
    font-size: xx-large;
    padding: 10px;
    text-decoration: none;
    background-color: red;
        color: whitesmoke;
        border-radius: 2px;
}

.button:hover {
    background-color: lightseagreen
}
.button2 {
    font-size: xx-large;
    padding: 10px;
    text-decoration: none;
    background-color: red;
        color: whitesmoke;
        border-radius: 2px;
}
.button2:hover {
    background-color: lightseagreen
}
.button3 {
    font-size: xx-large;
    padding: 10px;
    text-decoration: none;
    background-color: red;
        color: whitesmoke;
        border-radius: 2px;
}
.button3:hover {
    background-color: lightseagreen
}
.button4 {
    font-size: xx-large;
    padding: 10px;
    text-decoration: none;
    background-color: red;
        color: whitesmoke;
        border-radius: 2px;
}
.button4:hover {
    background-color: lightseagreen
}
.button5 {
    font-size: xx-large;
    padding: 10px;
    text-decoration: none;
    background-color: red;
        color: whitesmoke;
        border-radius: 2px;
}
.button5:hover {
    background-color: lightseagreen
}