body {
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif
}
.head {
    color: blue
}
p {
    color: blueviolet
}
.a {
    background-color: orange
}
.b { 
    background-color: orange
}
.c {
    background-color: orange
}
.body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 1400px
}
.h {
    color: orange
}
.button {
    font-size: xx-large;
    padding: 10px;
    text-decoration: none;
    background-color: red;
        color: whitesmoke;
        border-radius: 2px;
}

.button:hover {
    background-color: lightseagreen
}
.button2 {
    font-size: xx-large;
    padding: 10px;
    text-decoration: none;
    background-color: red;
        color: whitesmoke;
        border-radius: 2px;
}
.button2:hover {
    background-color: lightseagreen
}
.button3 {
    font-size: xx-large;
    padding: 10px;
    text-decoration: none;
    background-color: red;
        color: whitesmoke;
        border-radius: 2px;
}
.button3:hover {
    background-color: lightseagreen
}
.button4 {
    font-size: xx-large;
    padding: 10px;
    text-decoration: none;
    background-color: red;
        color: whitesmoke;
        border-radius: 2px;
}
.button4:hover {
    background-color: lightseagreen
}
.button5 {
    font-size: xx-large;
    padding: 10px;
    text-decoration: none;
    background-color: red;
        color: whitesmoke;
        border-radius: 2px;
}
.button5:hover {
    background-color: lightseagreen
}